<div class="post-list">
    <% page.posts .each(function (post, index) { %>
        <div class="post <%= index === 0 ? 'post-featured' : '' %>">
            <div class="post-date"><%- date(post.date, "YYYY-MM-DD" ) %></div>
            <a class="post-title" href="<%- url_for(post.path) %>">
                <%= post.title %>
            </a>
        </div>
        <% }) %>
</div>
<%- partial('_partial/paginator') %>